*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}


body{
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
}

#root{
  width: 100vw;
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  /* background: rgb(2,0,36);
  background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 29%, rgba(0,212,255,1) 100%); */
}